<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Slip8Profile">

        <!-- Program 1: Profile screen using RelativeLayout -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Prog1: Profile Screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Program 2: Lifecycle logging (same concept as Slip4) -->
        <activity
            android:name=".LifecycleDemoActivity"
            android:exported="true"
            android:label="Prog2: Lifecycle Log">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
