<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Slip11ImageTimer">

        <!-- Program 1: ImageView click Toast -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Prog1: Image Click">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Program 2: Start/Stop Timer -->
        <activity
            android:name=".TimerActivity"
            android:exported="true"
            android:label="Prog2: Timer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
